### Basic Calculator

In [ ]:
class Calculator:
  def add(self,a,b):
    return a+b
  def sub(self,a,b):
    return a-b
  def mul(self,a,b):
    return a*b
c1=Calculator()
while True:
  num1=int(input('enter first number: '))
  num2=int(input('enter second number: '))
  operator=input('choose any of the three operators i.e + or - or *: ')
  if operator=='+':
    print(c1.add(num1,num2))
  elif operator=='-':
    print(c1.sub(num1,num2))
  elif operator=='*':
    print(c1.mul(num1,num2))
  else:
    print('give a valid operator')

  next_calculation = input("Let's do next calculation? (yes/no): ")
  if next_calculation == "no":
    print('thank you')
    break

enter first number: 2
enter second number: 3
choose any of the three operators i.e + or - or *: +
5
Let's do next calculation? (yes/no): no
thank you

# Star patterns

### Increasing star pattern

In [3]:
n = int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

Enter no.of rows: 5
*
* *
* * *
* * * *
* * * * *

### Decreasing triangle pattern

In [6]:
n = int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i,n): # or for j in range(n-i)
    print('*',end=' ')
  print()

Enter no.of rows: 5
* * * * *
* * * *
* * *
* *
*

### Right sided triangle

In [9]:
n=int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

Enter no.of rows: 6
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [10]:
n=int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

Enter no.of rows: 5
  * * * * *
    * * * *
      * * *
        * *
          *

### Hill pattern

In [14]:
n=int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i,n):
    print(" ",end=' ')
  for j in range(i+1):
    print('*',end=' ')
  for j in range(i):
    print('*',end=' ')
  print()

Enter no.of rows: 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [16]:
n=int(input('Enter no.of rows: '))
for i in range(n):
  for j in range(i+1):
    print(" ",end=' ')
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i,n-1):
    print('*',end=' ')
  print()

Enter no.of rows: 5
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

### Diamond pattern

In [2]:
n=int(input('Enter no.of rows: '))
for i in range(n-1):
  for j in range(i,n):
    print(" ",end=' ')
  for j in range(i+1):
    print('*',end=' ')
  for j in range(i):
    print('*',end=' ')
  print()  
for i in range(n):
  for j in range(i+1):
    print(" ",end=' ')
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i,n-1):
    print('*',end=' ')
  print()

Enter no.of rows: 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *